* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html body * {
    box-sizing: border-box;
}
html, body {
    font: 14px 'Roboto Condensed', sans-serif;
    color: #5A2C86;
    height: 100%;
    min-width: 1050px;
}
.bg {
    z-index: 0;
    position: fixed;
    top: -200px;
    left: -200px;
    bottom: 0;
    right: 0;
    background: #05050c url("../img/bg2.png") no-repeat center center;
    background-size: cover;
}
header {
    background-color: rgb(7, 7, 7);
    height: 90px;
    margin-top: 0;
    position: relative;

}
.logo {
    background: url("../img/bfs.png") no-repeat 35px center;
    background-size: auto 80px;
    margin-top: 15px;
    overflow: hidden;
    min-height: 80px;
    padding: 10px;
    position: relative;
    display: inline-block;
    background-color: rgb(7, 7, 7);
    margin-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none
}
.logo h1 {
    margin: 15px 10px 15px 120px;
    font-size: 50px;
    font-weight: lighter;
    color: #f20155;
}
.logo h1 span {
    color: #612E8F;
}
.logo h1 .sub{
    display: inline-block;
    vertical-align: baseline;
    font-size: 22px;
    color: #f20155;
}
.menu {
    margin-top: 33px;
    float: right;
    margin-right: 30px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    padding: 5px 17px;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.menu ul li:hover, .menu ul li:focus{
    color: #f20155;
}

.container {
    min-height: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 100%;
    min-width: 1050px;
}
.terminal {
    background: url("../img/terminal.png") no-repeat center center;
    background-size: contain;
    height: 463px;
    width: 724px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -362px;
    margin-left: -362px;
    z-index: 1000;
}
.terminal, .terminal input {
    font-family: 'Ubuntu Mono', monospace;
    padding: 5px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing:1px;
    color: #D8E7BB;
}
.terminal input {
    width: 460px;
    line-height: 15px;
    border: none;
    background: none;
    padding-left: 6px;
}
.terminal pre {
    width: 100%;
}
.terminal p {
    /*margin: 2px;*/
}
.header {
    height: 28px;
    cursor: move;
    font-family: 'Ubuntu', sans-serif;
    padding: 1px 5px 0 75px;
    -webkit-user-select: none;
    -moz-user-select: none
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    min-width: 950px;
    background-color: rgb(7, 7, 7);
    padding: 5px 30px;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
}
footer h3 {
    color: #ffffff;
    font-weight: lighter;
    float: left;
}
footer a{
    margin-top: 2px;
    text-decoration: underline;
    float: right;
    color: #0077B5;
    padding: 0 0 0 30px;
    background: url("../img/lin_logo.png") no-repeat 5px center;
    background-size: contain;
}