* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html body * {
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
    background: #0C0109;
}

.logo {
    background: url("../img/bfs.png") no-repeat center center;
    background-size: contain;
    width: 317px;
    height: 361px;
    margin: 20px;
}